.roundbox {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 10px;
  background-color: #ffffff;
}
.opacityroundbox {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 10px;
  background-color: #ffffff;
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Enabled=1,Style=0,Opacity=80);
}

.roundpad {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  background-image: -moz-linear-gradient(330deg, rgba(252,252,252,0.8), rgba(247,247,247,0.8) 3%, rgba(242,242,242,0.8) 12%, rgba(217,217,217,0.8) 90%, rgba(191,191,191,0.8));
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(252,252,252,0.8)), to(rgba(191,191,191,0.8)), color-stop(3%, rgba(247,247,247,0.8)), color-stop(12%, rgba(242,242,242,0.8)), color-stop(90%, rgba(217,217,217,0.8)));
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  padding: 10px;
}

img.bgmaximage {
  position:fixed !important;
}

#maincontent {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
